/assets/*
_ss_environment.php
/tools/phing-metadata
/silverstripe-cache
/.buildpath
/.project
/.settings
/.idea
.DS_Store
/vendor/
/*.iml

/folderperpage/
/foundationforms/
/framework/
/cms/
/gallery/
/gridfield-bulk-editing-tools/
/gridfield-gallery-theme/
/gridfieldextensions/
/sortablegridfield/
